<% content_for :title, "Edit Blog Post" %>

<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-gray-900">Edit Blog Post</h1>
      <p class="mt-2 text-sm text-gray-700">Update article content.</p>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="bg-white shadow sm:rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <%= render "form", blog_post: @blog_post %>
      </div>
    </div>
  </div>
</div>
